<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/donor/dashboard">Dashboard</a></li>
		<li><a href="/donor/donate">Donate</a></li>
		<li><a href="/donor/donations/pending">Pending Donations</a></li>
		<li><a href="/donor/donations/previous">Previous Donations</a></li>
		<li><a href="/donor/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>